@font-face {
  font-family: 'Doto';
  src: url('./Doto-Medium.woff2') format('woff2'),
       url('./Doto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
