@font-face {
  font-family: 'Doto';
  src: url('./Doto-ExtraBold.woff2') format('woff2'),
       url('./Doto-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
