@font-face {
  font-family: 'Doto';
  src: url('./Doto-Regular.woff2') format('woff2'),
       url('./Doto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
