@font-face {
  font-family: 'Doto';
  src: url('./Doto-Light.woff2') format('woff2'),
       url('./Doto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
